:host {
  display: flex;
  gap: 0.25rem;
  height: 100%;
  width: 100%;
}

mat-divider {
  --mat-divider-color: var(--color-primary);
  --mat-divider-width: 1px;
  margin-block: 1rem;
}

.container {
  padding: 1rem;
}

.right {
  flex-basis: 60%;
}

.left {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
  transition: all 0.4s;
}

.full_size {
  flex-basis: 60%;
  transition: all 0.4s;
}

.cdk_scroll_viewport {
  height: 1500px;
  min-width: 100%;
}

.intervention_form_btn_container {
  display: flex;
  width: 100%;
  gap: 1rem;

  button {
    width: 100%;
    border-color: var(--color-accent);
  }
}

.skel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;

  .skeleton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex: 1;
  }
}
